input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px white inset !important; /* Increase the size to ensure it covers the background */
    -webkit-text-fill-color: black !important;
    caret-color: black; /* Ensure the caret color is set to auto */
}

.steps .step:after {
    height: 3.5rem !important;
    width: 3.5rem !important;
    background-color: rgb(247 254 231) !important;
    border: 3px solid #BCBCBC;
    font-weight: bold;
    font-size: 1.2rem;
}

.steps .step:before {
    width: 3px !important;
    background-color: #BCBCBC !important;
    font-weight: bold;
    height: 6rem !important;
}

.steps .step-primary + .step-primary:before,
  .steps .step-primary:after {
    color: #5498A7 !important;
    border-color: #5498A7 !important;
}

.steps .step-primary + .step-primary:before {
    background-color: #5498A7 !important;
}